# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# .NET
bin/
obj/

# OS
.DS_Store
Thumbs.db

# Secrets (sur la clé USB uniquement)
# token.txt
# config.json
# NE JAMAIS commit ces fichiers !
